<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
  <link rel="stylesheet" href="" th:href="@{/css/function.css}"/>

</head>
<body>
 <div class="form">
      <form action="addMoney">
      <div class="subtitle">Enter the Amount you want to add</div>
      <div class="input-container ic1">
        <input id="amount" class="input" type="interger"  name="amount" />
        <div class="cut"></div>
        <label for="amount" class="placeholder">Amount</label>
      </div>
      
     
      <button type="text" class="submit">submit</button>
      </form>
    </div>
</body>
</html>